@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
  max-width: 1440px;
  margin: 0 auto;
  a {
    text-decoration: none;

    color: #181c29;
  }
}

main {
  border-radius: 20px 20px 20px 20px;
  width: 1440px;
  background-color: #ff4646;
  margin: auto;

  h1 {
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;

    color: #ffffff;

    text-transform: uppercase;
  }

  h2 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
  }

  h3 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: left;
  }

  h4 {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  table {
    display: flex;
    border-spacing: 0px;
  }

  caption {
    font-family: 'Allura';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;

    color: #ffffff;
  }

  p {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.button {
  cursor: pointer;
  padding: 20px 32px;
  margin-top: 12px;

  border: none;
  background: #181c29;
  color: #ffffff;
  border-radius: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  transition: 0.2s ease-in-out;

  &:hover {
    background: #ffffff;
    color: #181c29;
  }
}

/* header */

.snowflake {
  height: 24px;
  width: 24px;
}

.logo-text {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-nav-links {
  gap: 8px;
}

.nav-links {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding: 12px 20px 12px 20px;
}

.header-burder-button {
  display: none;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0px 82px 0px 82px;
}

/* hero */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 404px;
  width: 427px;

  border-radius: 20px 20px 0px 0px;
}

.bg {
  width: 1440px;
  background: url(../assets/background/back_ball.svg), url(../assets/background/bg-snow.png);
}

/* about */

.about {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../assets/background/bg-snow.png);
}

.about-container {
  width: 1276px;
  height: 528px;
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  align-items: center;

  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.about-text {
  margin-left: 60px;
  max-width: 426px;
  height: 328px;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.about-text-first {
  color: #ff4646;
  margin-top: 60px;
}

.about-text-third {
  margin-bottom: 60px;
}

.about-img {
  border-radius: 20px;
  width: 638px;
  height: 528px;
}

/* slider */

.slider {
  max-width: 1440px;
  background: url(../assets/background/bg-snow.png);
}

.slider-container {
  margin-left: 82px;
  padding-bottom: 76px;
  margin-right: 82px;
}

.slider-top-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.slider-top-text-first {
  font-family: 'Allura';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;

  color: #ffffff;
}

.slider-top-text-second {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  margin-top: 15px;
}

.slider-row-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-left: 1px;

  position: relative;
  width: 100%;
  overflow: hidden;

  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.slider-text {
  font-family: 'Montserrat';
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  flex: none;
  scroll-snap-align: start;
}

.slider-img {
  border-radius: 20px;
  margin: 20px;

  flex: none;
  scroll-snap-align: start;
}

.slider-button-container {
  display: flex;
  justify-content: right;

  gap: 20px;
}

.slider-button {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 20px;

  border: 1px solid #ffffff;
  background: #ff4646;
}

.button-inactive {
  opacity: 0.5;
}

/*  best-gifts */

.best-gifts-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-gifts-caption-header {
  color: #ffffff;
}

.best-gifts-container {
  display: flex;
  flex-direction: column;
}

.best-gifts-container-card {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.gift-card {
  border-radius: 20px;
  width: 310px;
  height: 342px;
  background: #ecf3f8;
}

.card-text-container {
  width: 310px;
  height: 112px;
  border-radius: 20px;
  background: #ffffff;

  display: flex;
  justify-content: start;
  align-items: start;
}

.card-img {
  height: 230px;
  width: 310px;
}

.card-header-work {
  color: #4361ff;
}

.card-header-health {
  color: #06a44f;
}

.card-header-harmony {
  color: #ff43f7;
}

/* cta */

.cta-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.countdown {
  display: flex;
  flex-direction: row;

  background: #ffffff;
  opacity: 50%;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52px;
  width: 80px;
}

.label {
  color: #ffffff;
}
